.footer-middle {
  display: flex;
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer-middle__address {
  width: 322px;
  margin: 0;
  color: #f3f7f9;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-middle__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 90px;
  padding: 0;
  list-style: none;
}

.footer-middle__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }
}

.footer-middle__link {
  color: #ffd180;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid #ffd180;
  }

  &:active {
    opacity: 0.5;
    border-bottom: none;
  }
}
