.form-filter__submit {
  width: 140px;
  height: 38px;
  font-family: $font-ptsans;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}
