.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  transform: translate(-50%, -50%);
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  border-top: 7px solid #ee3643;
}

.modal__info {
  display: flex;
  position: relative;

  &--goods {
    padding-top: 68px;
    padding-bottom: 68px;
    background-image: url("../../img/modal-cart.svg");
    background-repeat: no-repeat;
    background-position: 81px 48px;
  }
}

.modal__description {
  margin: 0;
  margin-left: 179px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.modal__button {
  font-size: 0;
  background-color: transparent;
  border: none;

  &--close {
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 21px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 15px;
      right: 6px;
      width: 21px;
      height: 3px;
      background-color: #ee3643;
    }

    &::before {
      transform: rotate(135deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}

.modal__interface {
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 80px;
  background-color: #f1f1f1;
}

.modal__link {
  display: inline-block;
  width: 220px;
  min-height: 38px;
  margin-right: 16px;
  padding-top: 11px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;

  &--order {
    color: $main-color;
    background-color: #ee3643;
  }
}
