.popular-goods {
  background-color: $main-color;
}

.popular-goods__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

.popular-goods__link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 220px;
  min-height: 318px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

.popular-goods__img {
  display: block;
  margin: 0 auto;
}

.popular-goods__name {
  width: 158px;
  margin: 0;
  margin-top: 30px;
  margin-left: 32px;
  color: #000000;
  font-family: $font-ptsans;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.popular-goods__old-price {
  position: absolute;
  bottom: 72px;
  left: 0;
  right: 0;
  margin: 0;
  margin-top: 17px;
  color: #a9a9a9;
  font-family: $font-ptsans;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.popular-goods__price {
  position: relative;
  margin: 0;
  margin-top: 45px;
  margin-bottom: 20px;
  margin-left: 43px;
  padding-top: 10px;
  width: 141px;
  min-height: 38px;
  color: $main-color;
  font-family: $font-ptsans;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  box-sizing: border-box;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
  }

  &::before {
    top: 0;
    background-image: linear-gradient(45deg, transparent 14px, #ffffff 14px, #ffffff 100%);
  }

  &::after {
    bottom: 0;
    background-image: linear-gradient(135deg, transparent 14px, #ffffff 14px, #ffffff 100%);
  }
}
