.popular-company {
  background-color: $main-color;
}

.popular-company__list {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  grid-template-rows: repeat(2, 165px);
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-company__item {
  margin-top: 20px;
  margin-right: 20px;
}

.popular-company__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  font-size: 0;
  border: 1px solid #eaeaea;

  &:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  }

  &:active {
    opacity: 0.3;
    box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  }
}

