.promo-tabs {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(3, 143px);
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-tabs__item {
  width: 300px;
  min-height: 123px;
  margin-top: 20px;
  margin-right: 20px;
  padding-top: 21px;
  padding-left: 23px;
  box-sizing: border-box;

  &--materials {
    background-color: #ffbf47;
    background-image: url("../img/materials.svg");
    background-repeat: no-repeat;
    background-position: 213px 31px;
  }

  &--tools {
    background-color: #3bbce3;
    background-image: url("../img/drill.svg");
    background-repeat: no-repeat;
    background-position: 197px 33px;
  }

  &--technique {
    background-color: #dc91d8;
    background-image: url("../img/tractor.svg");
    background-repeat: no-repeat;
    background-position: 191px 31px;
  }

  &--discount {
    background-color: #8ed78f;
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 196px 26px;
  }

  &--delivery {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: #ffc047;
    background-image: url("../img/car.svg");
    background-repeat: no-repeat;
    background-position: 191px 32px;
  }
}

.promo-tabs .promo-tabs__item--discount {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.promo-tabs .promo-tabs__item--delivery {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.promo-tabs .slider {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.promo-tabs__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.promo-tabs__link {
  display: inline-block;
  width: 135px;
  min-height: 38px;
  margin-left: 2px;
  margin-top: 12px;
  padding-top: 11px;
  color: $main-color;
  background-color: rgba(#000000, 0.1);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  box-sizing: border-box;

  &:hover {
    background-color: rgba(#000000, 0.2);
  }

  &:active {
    background-color: rgba(#000000, 0.3);
  }
}
