.services-slider__menu {
  margin-top: 74px;
}

.services-slider__slide {
  display: flex;
  margin-left: 80px;
  margin-top: 75px;
}

.services-slider__list {
  position: relative;
  margin: 0;
  padding: 0;
  width: 240px;
  list-style: none;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: -25px;
    width: 10px;
    height: 279px;
    opacity: 0.25;
    background-image: url("../img/services-slider-shadow.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.services-slider__item {
  padding-top: 20px;
  padding-left: 22px;
  min-height: 61px;
  background-color: #32425c;
  box-shadow: inset 0 -1px 0 #3b5372;
  box-sizing: border-box;

  &:hover {
    background-color: #293449;
    cursor: pointer;
  }

  &--active {
    color: #32425c;
    background-color: #ffffff;
    box-shadow: none;

    &:hover {
      background-color: #ffffff;
    }
  }
}

.services-slider__slide-name {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
}

