.slider {
  width: 620px;
  position: relative;
  padding: 0;

  &::before,
  &::after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
  }

  &::before {
    top: 50%;
    left: 25px;
    border-left: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    top: 50%;
    right: 25px;
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    transform: translateY(-50%) rotate(-45deg);
  }
}

.slider__slide1 {
  min-height: 266px;
  padding-top: 27px;
  padding-left: 24px;
  background-image: url("../img/slide1.jpg");
  background-size: cover;
  box-sizing: border-box;
}

.slider__slide2 {
  min-height: 266px;
  padding-top: 26px;
  padding-left: 26px;
  background-image: url("../img/slide2.jpg");
  background-size: cover;
  box-sizing: border-box;
}

.slider__radio-label {
  position: absolute;
  bottom: 35px;
  left: 50%;
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: $main-color;
  border: 2px solid $main-color;
  border-radius: 50%;
  box-sizing: border-box;
}

.slider__radio-label--slide1 {
  left: 295px;
}

.slider__radio-label--slide2 {
  left: 315px;
}

.slider__radio-input[id="slide1"] {
  &:checked ~ .slider__radio-label--slide1 {
    background-color: #ee3643;
  }
}

.slider__radio-input[id="slide2"] {
  &:checked ~ .slider__radio-label--slide2 {
    background-color: #ee3643;
  }
}
